<!-- CONTENT SECTION: begin -->
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <h2> 關於 Bar</h2>
        <p> 我們試著讓器材租借變得更方便，讓更多人看到好用的東西!</p>
        <p> 這是一個來自交大的團隊，平常除了發發廢文之外，也是會想要創業的。為了解決各自社團租借流程與管理器材的麻煩，我們決定要提供這項租借服務，讓所有半夜還要接電話的器材長，可以好好過生活，大口深呼吸，交個女朋友。 </p>
        <p class="cta-button">
          <a href="#" class="button"><i class="fa fa-heart"></i> Get Started!</a>
        </p>

      </div>
      <div class="col-sm-6">

        <p><img src="images/cofounders.jpg" alt=""></p>

      </div>
    </div>
  </div>
</section>
<!-- CONTENT SECTION : end -->
