<!-- BROWSE : begin -->
<section id="browse">
  <div class="container">
    <h2>Browse</h2>
    <div class="browse-inner">
      <div class="tabs-container browse-tabs-container">
        <ul class="custom-list tab-title-list">
          <li class="tab-title active"><a href="#featured-properties"> 三個步驟，快速上手</a></li>
          <li class="tab-title"><a href="#top-destinations"> 最常租借 </a></li>
          <li class="tab-title"><a href="#our-members"> 我們的客戶 </a></li>
        </ul>
        <ul class="custom-list tab-content-list browse-contents"
          style="padding: 0px;" >
          <li class="tab-content active">

            <!-- BROWSE PROPERTIES : begin -->
            <div class="browse-properties">
              <ul class="custom-list tab-content-list"
                style="padding: 0 10px 0px 10px;">
                <li class="tab-content active"><img src="/images/steps.jpg" alt=""></li>
                <li class="tab-content"><img src="dummies/map_02.jpg" alt=""></li>
                <li class="tab-content"><img src="dummies/map_03.jpg" alt=""></li>
              </ul>

            </div>
            <!-- BROWSE PROPERTIES : end -->

          </li>
          <li class="tab-content">

            <!-- BROWSE DESTINATIONS : begin -->
            <div class="browse-destinations">

              <% Bucket.all.limit(6).each_with_index do |bucket, i| %>
                <% if i == 0 || i == 3 %>
                  <div class="row">
                <% end %>
                <div class="col-sm-4">
                  <!-- TOP DESTINATION 1 : begin -->
                  <div class="top-destination">
                    <img class="destination-thumb" alt=""
                         src="<%= bucket.galleries.first.image.grid.url %>">
                    <div class="top-destination-inner">
                      <h3> <%= bucket.title %> </h3>
                      <a href="#" class="button">
                        <i class="fa fa-list-ul"></i> 拎北想要！
                      </a>
                    </div>
                  </div>
                  <!-- TOP DESTINATION 1 : end -->
                </div>
                <% if i == 2 || i == 5 %>
                  </div>
                <% end %>
              <% end %>

            </div>
            <!-- BROWSE DESTINATIONS : end -->

          </li>
          <li class="tab-content">

            <!-- BROWSE MEMBERS : begin -->
            <div class="browse-members">

              <!-- BROWSE MEMBERS HEADER : begin -->
              <div class="browse-members-header clearfix">

                <!-- SEARCH : begin -->
                <div class="browse-members-search">
                  <form action="index.html" class="default-form">
                    <input type="text">
                    <button><i class="fa fa-search"></i></button>
                  </form>
                </div>
                <!-- SEARCH : end -->

                <!-- PAGINATION : begin -->
                <div class="browse-members-pagination">
                  <form action="index.html" class="default-form">
                    <span class="select-box">
                      <select name="adults">
                        <option value="1">Page 1</option>
                        <option value="2">Page 2</option>
                        <option value="3">Page 3</option>
                        <option value="4">Page 4</option>
                        <option value="5">Page 5</option>
                      </select>
                    </span>
                  </form>
                </div>
                <!-- PAGINATION : end -->

              </div>
              <!-- BROWSE MEMBERS HEADER : end -->

              <!-- BROWSE MEMBERS LIST : begin -->
              <ul class="custom-list browse-members-list clearfix">

                <!-- MEMBER 1 : begin -->
                <li class="member first-in-row">
                  <a href="#" class="member-portrait"><img src="dummies/customer1.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 社團 </a></h4>
                  <h5 class="member-place"> 交大登山社 </h5>
                </li>
                <!-- MEMBER 1 : end -->

                <!-- MEMBER 2 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer2.png" alt=""></a>
                  <h4 class="member-name"><a href="#">社團</a></h4>
                  <h5 class="member-place">交大電機系學會</h5>
                </li>
                <!-- MEMBER 2 : end -->

                <!-- MEMBER 3 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer3.gif" alt=""></a>
                  <h4 class="member-name"><a href="#">學校</a></h4>
                  <h5 class="member-place">交大課外活動組</h5>
                </li>
                <!-- MEMBER 3 : end -->

                <!-- MEMBER 4 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer4.jpg" alt=""></a>
                  <h4 class="member-name"><a href="#">NGO</a></h4>
                  <h5 class="member-place">伊甸基金會</h5>
                </li>
                <!-- MEMBER 4 : end -->

                <!-- MEMBER 5 : begin -->
                <li class="member first-in-row-medium">
                  <a href="#" class="member-portrait"><img src="dummies/customer5.gif" alt=""></a>
                  <h4 class="member-name"><a href="#">個人</a></h4>
                  <h5 class="member-place">花媽廚房</h5>
                </li>
                <!-- MEMBER 5 : end -->

                <!-- MEMBER 6 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer6.png" alt=""></a>
                  <h4 class="member-name"><a href="#">Schwannden Kuo</a></h4>
                  <h5 class="member-place">新竹</h5>
                </li>
                <!-- MEMBER 6 : end -->

                <!-- MEMBER 7 : begin -->
                <li class="member first-in-row">
                  <a href="#" class="member-portrait"><img src="dummies/customer0.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 尋找更多合作夥伴 </a></h4>
                  <h5 class="member-place"> 就是你！ </h5>
                </li>
                <!-- MEMBER 7 : end -->

                <!-- MEMBER 8 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer0.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 尋找更多合作夥伴 </a></h4>
                  <h5 class="member-place"> 就是你！ </h5>
                </li>
                <!-- MEMBER 8 : end -->

                <!-- MEMBER 9 : begin -->
                <li class="member first-in-row-medium">
                  <a href="#" class="member-portrait"><img src="dummies/customer0.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 尋找更多合作夥伴 </a></h4>
                  <h5 class="member-place"> 就是你！ </h5>
                </li>
                <!-- MEMBER 9 : end -->

                <!-- MEMBER 10 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer0.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 尋找更多合作夥伴 </a></h4>
                  <h5 class="member-place"> 就是你！ </h5>
                </li>
                <!-- MEMBER 10 : end -->

                <!-- MEMBER 11 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer0.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 尋找更多合作夥伴 </a></h4>
                  <h5 class="member-place"> 就是你！ </h5>
                </li>
                <!-- MEMBER 11 : end -->

                <!-- MEMBER 12 : begin -->
                <li class="member">
                  <a href="#" class="member-portrait"><img src="dummies/customer0.png" alt=""></a>
                  <h4 class="member-name"><a href="#"> 尋找更多合作夥伴 </a></h4>
                  <h5 class="member-place"> 就是你！ </h5>
                </li>
                <!-- MEMBER 12 : end -->

              </ul>
              <!-- BROWSE MEMBERS LIST : end -->

            </div>
            <!-- BROWSE MEMBERS : end -->

          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- BROWSE : end -->
