<!-- CONTENT SECTION - SERVICES : begin -->
<section class="content-section services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <!-- SERVICE 1 : begin -->
        <div class="service-container">
          <p class="service-icon"><i class="fa fa-refresh"></i></p>
          <h3 class="service-title"> 廢物利用 </h3>
          <p> 用不到的東西，就是垃圾。拿出你閒置的物品，讓需要的人使用吧！</p>
          <p><a href="#" class="button"><i class="fa fa-refresh"></i> Get Started!</a></p>
        </div>
        <!-- SERVICE 1 : end -->

      </div>
      <div class="col-sm-4">

        <!-- SERVICE 2 : begin -->
        <div class="service-container">
          <p class="service-icon"><i class="fa fa-book"></i></p>
          <h3 class="service-title"> 尋找一次性用品 </h3>
          <p>  第一次爬山，想要借背包? 
          <br> 試試看新才藝，想要借把吉他? </p>
          <p><a href="#" class="button"><i class="fa fa-book"></i> Get Started!</a></p>
        </div>
        <!-- SERVICE 2 : end -->

      </div>
      <div class="col-sm-4">

        <!-- SERVICE 3 : begin -->
        <div class="service-container">
          <p class="service-icon"><i class="fa fa-money"></i></p>
          <h3 class="service-title"> 賺點學費 </h3>
          <p> 把閒置的物品租給需要的人，順便賺點零用錢吧？ </p>
          <p><a href="#" class="button"><i class="fa fa-money"></i> Get Started!</a></p>
        </div>
        <!-- SERVICE 3 : end -->

      </div>
    </div>
  </div>
</section>
<!-- CONTENT SECTION - SERVICES : end -->
