<!-- CONTENT SECTION - SERVICES : begin -->
<section class="content-section services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <!-- SERVICE 1 : begin -->
        <div class="service-container">
          <p class="service-icon"><i class="fa fa-refresh"></i></p>
          <h3 class="service-title">Swap House</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in.</p>
          <p><a href="#" class="button"><i class="fa fa-refresh"></i> Get Started!</a></p>
        </div>
        <!-- SERVICE 1 : end -->

      </div>
      <div class="col-sm-4">

        <!-- SERVICE 2 : begin -->
        <div class="service-container">
          <p class="service-icon"><i class="fa fa-book"></i></p>
          <h3 class="service-title">Book a Stay</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in.</p>
          <p><a href="#" class="button"><i class="fa fa-book"></i> Get Started!</a></p>
        </div>
        <!-- SERVICE 2 : end -->

      </div>
      <div class="col-sm-4">

        <!-- SERVICE 3 : begin -->
        <div class="service-container">
          <p class="service-icon"><i class="fa fa-money"></i></p>
          <h3 class="service-title">Rent</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in.</p>
          <p><a href="#" class="button"><i class="fa fa-money"></i> Get Started!</a></p>
        </div>
        <!-- SERVICE 3 : end -->

      </div>
    </div>
  </div>
</section>
<!-- CONTENT SECTION - SERVICES : end -->
