<!-- TESTIMONIALS : begin -->
<div id="testimonials">
  <div class="container">
    <div class="testimonials-inner">

      <!-- TESTIMONIAL LIST : begin -->
      <div class="testimonial-list">

        <!-- TESTIMONIAL 1 : begin -->
        <div class="testimonial">
          <p class="portrait"><img src="dummies/portrait_01_200.jpg" alt="Jenny"></p>
          <blockquote class="quote">
            <p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
            <footer><cite>Jenny - Toronto, Canada</cite></footer>
          </blockquote>
        </div>
        <!-- TESTIMONIAL 1 : end -->

        <!-- TESTIMONIAL 2 : begin -->
        <div class="testimonial">
          <p class="portrait"><img src="dummies/portrait_02_200.jpg" alt="Jenny"></p>
          <blockquote class="quote">
            <p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
            <footer><cite>Jenny - Toronto, Canada</cite></footer>
          </blockquote>
        </div>
        <!-- TESTIMONIAL 2 : end -->

        <!-- TESTIMONIAL 3 : begin -->
        <div class="testimonial">
          <p class="portrait"><img src="dummies/portrait_03_200.jpg" alt="Jenny"></p>
          <blockquote class="quote">
            <p>I had the best time of my life and all thanks to Casa! It’s so amazing, everyone should try it!</p>
            <footer><cite>Jenny - Toronto, Canada</cite></footer>
          </blockquote>
        </div>
        <!-- TESTIMONIAL 3 : end -->

      </div>
      <!-- TESTIMONIAL LIST : end -->

      <!-- NAVIGATION : begin -->
      <div class="navigation">
        <button class="button prev"><i class="fa fa-chevron-left"></i></button>
        <button class="button next"><i class="fa fa-chevron-right"></i></button>
      </div>
      <!-- NAVIGATION : end -->

    </div>
  </div>
</div>
<!-- TESTIMONIALS : end -->
