<%= render "banner"%>
<!-- CORE : begin -->
<div id="core">
  <%= render "services" %>
  <%= render "browse" %>
  <%= render "about" %>
</div>
<!-- CORE : end -->

<script>
  $("#trigger-login").click(function(){
    $(".header-login .header-form").show();
  });
</script>
