<div class="row" style="margin-bottom: 180px">
  <div class="col-md-5 col-md-offset-2">
    <div class="project-container">
      <div class="project-header">
        <a class="project-thumb lightbox" href="<%= admin_buckets_path %>" 
           data-lightbox-group="dummy-projects"
           style="height: 70px">
          <span class="overlay" style="background-color: rgba(167, 151, 156, 0.9);"></span>
        </a>
        <ul class="custom-list project-tags">
          <li>編輯物品，</li>
          <li>瀏覽物品</li>
        </ul>
      </div>
      <div class="project-content">
        <h1 class="project-title"><a href="<%= admin_buckets_path %>">
          管理物品 </a></h1>
        <h5 class="project-category"> manage buckets </h5>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="project-container">
      <div class="project-header">
        <a class="project-thumb lightbox" href="<%= new_admin_bucket_path %>" 
           data-lightbox-group="dummy-projects"
           style="height: 70px">
          <span class="overlay" style="background-color: rgba(167, 151, 156, 0.9);"></span>
        </a>
        <ul class="custom-list project-tags">
          <li>新增物品</li>
        </ul>
      </div>
      <div class="project-content">
        <h1 class="project-title"><a href="<%= new_admin_bucket_path %>"> 新增物品 </a></h1>
        <h5 class="project-category"> new buckets </h5>
      </div>
    </div>
  </div>
</div>
