<!-- CORE : begin -->
<div id="core" class="page-search-results">
  <!-- PAGE HEADER : begin -->
  <div class="page-header">
    <div class="container">
      <div class="page-header-inner clearfix">
        <h1>Search Results - XXX Objects</h1>
        <ul class="custom-list breadcrumbs">
          <li><a href="<%= admin_path %>"> 我的物品 </a> / </li>
          <li><a href="<%= admin_buckets_path %>"> 管理物品 </a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PAGE HEADER : end -->

  <!-- MAIN WRAPPER : begin -->
  <div class="main-wrapper-container">
    <div class="container">
      <div id="main-wrapper" style="background:#fff;">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= render "properties_listing" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN WRAPPER : end -->

</div>
<!-- CORE : end -->
