<!-- PROPERTIES SEARCH : begin -->
<aside class="properties-search">
  <h3 class="properties-search-title">想找些什麼社團？</h3>

  <!-- PROPERTIES SEARCH BASIC : begin -->
  <div class="properties-search-basic">

    <!-- FORM SWAP : begin -->
    <form class="default-form" action="index.html" id="properties-search-form-swap">

      <!-- SEARCH INPUT : begin -->
      <div class="search-input">
        <input type="text" placeholder="請輸入社團名稱">
      </div>

      <!-- SEARCH INPUT : end -->

      <p class="form-row">
        <button class="button submit-btn"><i class="fa fa-search"></i> 搜尋</button>
      </p>
    </form>
  </div>

  <!-- PROPERTIES SEARCH BASIC : end -->
  <hr class="form-divider">
  <!-- PROPERTIES SEARCH FILTER : begin -->
  <div class="properties-search-filter">
    <form class="default-form" action="index.html">

      <h4 class="filter-title">條件搜尋</h4>

      <!-- PRICE FILTER : begin -->
      <div class="price-filter toggle-container">
        <h5 class="toggle-title">依價格</h5>
        <div class="toggle-content">

          <div class="slider-range-container">
            <div class="slider-range" data-min="100" data-max="2000" data-step="100" data-default-min="100" data-default-max="500" data-currency="$"></div>
            <div class="clearfix">
              <input type="text" class="range-from" value="$ 10">
              <input type="text" class="range-to" value="$ 500">
            </div>
          </div>

        </div>
      </div>
      <!-- PRICE FILTER : end -->

      <% if false %>
      <!-- RATING FILTER : begin -->
      <div class="rating-filter toggle-container">
        <h5 class="toggle-title">依評價</h5>
        <div class="toggle-content">

          <ul class="custom-list rating-filter-list">
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="rating-filter-5star" checked="checked">
                <label for="rating-filter-5star">
                  <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <span class="label">5 stars</span>
                </label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="rating-filter-4star">
                <label for="rating-filter-4star">
                  <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                  <span class="label">4 stars</span>
                </label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="rating-filter-3star">
                <label for="rating-filter-3star">
                  <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                  <span class="label">3 stars</span>
                </label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="rating-filter-2star">
                <label for="rating-filter-2star">
                  <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                  <span class="label">2 stars</span>
                </label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="rating-filter-1star">
                <label for="rating-filter-1star">
                  <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                  <span class="label">1 star</span>
                </label>
              </span>
            </li>

          </ul>

        </div>
      </div>
      <!-- RATING FILTER : end -->
      <% end %>
      <!-- ADDITIONAL FILTER : begin -->
      <div class="additional-filter toggle-container">
        <h5 class="toggle-title">分類</h5>
        <div class="toggle-content">

          <ul class="custom-list additional-filter-list">
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="additional-filter-air-conditioning">
                <label for="additional-filter-air-conditioning">遊戲用品（水槍、彩帶、爆炸頭、巧拼）</label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="additional-filter-garden">
                <label for="additional-filter-garden">影音電器（地燈、相機、攝影機、音響）</label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="additional-filter-garden">
                <label for="additional-filter-garden">休閒運動（睡袋、腳踏車）</label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="additional-filter-garden">
                <label for="additional-filter-garden">場地設備（琴房、會議廳、系窩）</label>
              </span>
            </li>
            <li>
              <span class="checkbox-input">
                <input type="checkbox" id="additional-filter-garden">
                <label for="additional-filter-garden">其他（電鍋）</label>
              </span>
            </li>
          </ul>

        </div>
      </div>
      <!-- ADDITIONAL FILTER : end -->

    </form>
  </div>
  <!-- PROPERTIES SEARCH FILTER : end -->

</aside>
<!-- PROPERTIES SEARCH : end -->
