  <!-- CORE : begin -->
  <div id="core" class="page-property-details">

  <!-- PAGE HEADER : begin -->
  <div class="page-header" style="background-image:url(/images/show_cover.jpeg);">
    <div class="container">
      <div class="page-header-inner clearfix">
        <h1><%= @organization.name %></h1>
        <ul class="custom-list breadcrumbs">
          <li><a href="/">Home</a> / </li>
          <li><a href="/buckets/">Search Results</a> /</li>
          <li><a href="#">Property Details</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PAGE HEADER : end -->

  <!-- MAIN WRAPPER : begin -->
  <div class="main-wrapper-container">
    <div class="container">
      <div id="main-wrapper" style="background:#FFF;">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN WRAPPER : end -->
</div>
<!-- CORE : end -->
