<!-- FOOTER : begin -->
<!-- BOTTOM PANEL : begin -->
<aside id="bottom-panel">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">

        <!-- ABOUT WIDGET : begin -->
        <div class="widget about-widget">
          <div class="widget-content">
            <p><img src="/images/logo.png" style="height: 100px;" alt="Bar"></p>
            <p> Bar 讓你輕鬆管理個人社團資產出借程序，輕鬆賺點外快。 </p>
          </div>
        </div>
        <!-- ABOUT WIDGET : end -->

      </div>
      <div class="col-sm-3 col-sm-offset-1">

        <!-- LINKS WIDGET : begin -->
        <div class="widget links-widget">
          <h3 class="widget-title"><span>Quick Links</span></h3>
          <div class="widget-content">
            <div class="row">
              <div class="col-md-6">
                <ul class="custom-list">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Browse</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="custom-list">
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Add Offer</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- LINKS WIDGET : end -->

      </div>

      <div class="col-sm-3 col-sm-offset-2">

        <!-- NEWSLETTER WIDGET : begin -->
        <div class="widget newsletter-widget">
          <h3 class="widget-title"><span>Newsletter</span></h3>
          <div class="widget-content">
            <p>Sign up for our newsletter!</p>
            <form class="default-form" action="index.html">
              <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> Valid email is required!</p>
              <div class="input-group">
                <input class="required email" type="text" placeholder="Email address ...">
                <button><i class="fa fa-plus-circle"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- NEWSLETTER WIDGET : end -->

      </div>
    </div>
  </div>
</aside>
<!-- BOTTOM PANEL : end -->

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <!-- FOOTER TEXT : begin -->
        <p>Copyright 2015 &copy; Bar. All rights reserved. Powered by <a href="#"> Bar </a></p>
        <!-- FOOTER TEXT : end -->

      </div>
      <div class="col-sm-4">

        <!-- FOOTER SOCIAL : begin -->
        <ul class="footer-social custom-list">
          <li><a href="#" title="Facebook"><i class="fa fa-facebook-square"></i><span>Facebook</span></a></li>
          <!-- <li><a href="#" title="Twitter"><i class="fa fa-twitter-square"></i><span>Twitter</span></a></li>
          <li><a href="#" title="Google+"><i class="fa fa-google-plus-square"></i><span>Google+</span></a></li>
          <li><a href="#" title="LinkedIn"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
          <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li> -->
        </ul>
        <!-- FOOTER SOCIAL : end -->

      </div>
    </div>
  </div>
</footer>
<!-- FOOTER : end -->
