	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Bar - Borrow, Book &amp; Rent</title>
    <link rel="shortcut icon" href="dummies/favicon.ico">

    <!-- GOOGLE FONTS : begin -->
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <!-- GOOGLE FONTS : end -->